body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
/*#da7f18;*/
.header {
    background-color: #9b8c59;
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}

.logo img {
    height: 6rem;
    cursor: pointer;
    transition: all 0.3s;
    align-items: center;
    display: flex;
}

.logo img:hover {
    transform: scale(1.2);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li{
    display: inline-block;
    transition: all 0.3s;
}

.navbar-links li:hover{
    transform: scale(1.1);
}

.navbar-links a {
    color: lightgray;
    text-decoration: none;    
}

.navbar-links a:hover {
    color: goldenrod;
}

.menu-abrir,
.menu-cerrar {
    display: none;
    border: 0;
    transition: all 0.3s;
}

.menu-cerrar:hover, .menu-abrir:hover {
    transform: scale(1.2);
}

.bar {
    width: 2.5rem;
    height: 0.2rem;
    background-color: lightgray;
    display: block;
    margin: 0.5rem 0;
    border-radius: 1rem;
}

.slider-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.slider {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.slides {
    width: 300vw;
    height: auto;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100vw;
    transition: 1s;
}

.slide img {
    width: 100vw;
    height: auto;
}

.navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #2b70b1;
    background: #2b70b1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -33.3333333%;
}

#radio3:checked ~ .first {
    margin-left: -66.6666666%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}

@media screen and (max-width: 710px) {
    .menu-abrir,
    .menu-cerrar {
        display: block;
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
        font-size: 2rem;
    }

    .navbar {   
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: -240px;
        bottom: 0;
        background-color: #3f2b1f;
        padding: 1rem 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    }

    .navbar.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(-240px);
        transition: transform 0.5s;
    }

    .navbar-links {
        flex-direction: column;
        align-items: end;
    }
}

/*
background-color: #7e372b;
*/






